use flake

export FLY_API_HOSTNAME="127.0.0.1:4280"
export FLY_API_TOKEN=$(fly auth token)

export ADMIN_DB_CONNECTION_STRING="Data Source=../../db/.run/admin.sqlite;Mode=ReadWrite;Cache=Shared;Foreign Keys=True;"
export ADMIN_FLY_IO_TOKEN=$FLY_API_TOKEN
export ADMIN_FLY_IO_REST_API_BASE="http://$FLY_API_HOSTNAME"

export CONSUMER_SERVER_HTTP_PORT=5001
