source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0, netstandard2.1

nuget Giraffe 6.0.0
nuget FsConfig 3.1.0
nuget FsHttp 9.1.2
nuget FsToolkit.ErrorHandling 3.0.0-beta007
nuget FSharpx.Extras 3.1.0
nuget FsToolkit.ErrorHandling.TaskResult 3.0.0-beta007

nuget Nanoid 2.1.0
nuget Microsoft.Data.Sqlite 7.0.0-preview.7.22376.2

// Tests
nuget FsCheck 3.0.0-beta2
nuget Expecto.FsCheck 9.0.4
nuget FsHttp.NewtonsoftJson 9.1.2
nuget Bogus 34.0.2
